@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: mediumorchid;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input_container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
}
.input_container input {
  border: none;
  outline: none;
  padding: 12px;
  margin-block: 12px;
  border-radius: 4px;
  font-size: 16px;
}
.input_container input[type="text"] {
  width: 70%;
}
.input_container input[type="button"] {
  background-color: crimson;
  color: bisque;
  font-weight: 700;
  margin-left: 8px;
  cursor: pointer;
  padding: 12px 24px;
}
.input_container input[type="button"]:hover {
  background-color: rgb(204, 45, 6);
}
ul {
  width: 100%;
  max-width: 450px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
ul li {
  list-style-type: none;
  cursor: pointer;
  margin-block-end: 12px;
  border-radius: 8px;
  padding: 6px 12px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s;
}
/* ul li :hover {
  background-color: rgb(203, 210, 208);
} */
ul li p {
  flex-grow: 1;
  padding: 2px;
}
.btn {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: beige;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
}
.deleteBtn {
  color: red;
}
.editBtn {
  color: rgb(69, 5, 244);
}
